.webpage {
  min-height: 100vh;
}

.main-content {
  display: flex;
}

main {
  flex: 1 1;
  background-color: #fff;
}

/* hero section content */
.hero-section-content {
  position: relative;
  width: 100%;
  padding-top: 57px;
  margin-top: -57px;
  background: url(https://cdn.cogoport.io/cms-prod/cogo_public/vault/original/home-banner-background-1.webp);
  background-color: var(--color-secondary);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.hero-section-content-area {
  width: 1200px;
  display: flex;
  align-items: center;
  height: 392px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

@media (max-width: 767px) {
  .hero-section-content-area {
    height: fit-content;
    width: 100%;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .hero-section-content-left {
    margin-left: 50px;
  }
  .video {
    display: flex;
    width: 100%;
    flex: 1 1;
  }
}

.hero-section-content-left {
  flex: 1 1;
}

.hero-section-content-left-heading {
  margin-bottom: 20px;
}

.hero-section-content-left-button {
  background-color: white;
  padding: 8px 16px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
}

.whatsapp {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

input {
  background-color: #fff;
  border: none;
}

form {
  display: flex;
  flex-direction: column;
}

.country-code {
  margin-right: 12px;
}

.country-code-options {
  margin-right: 12px;
}

.green-button {
  width: 90px;
  padding: 2px 4px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: #36bb22;
  border: 1px solid #36bb22;
  border-radius: 12px;
}

.hero-section-content-right {
  display: flex;
  flex: 1 1;
  width: 595px;
  height: 400px;
  /* margin-bottom: -39px; */
}

/* hero section content ends */

.blank-space {
  height: 100px;
  background-color: #fff;
}

@media (max-width: 767px) {
  video {
    display: none;
    width: 100%;
  }
}
